<div class="container-fluid">
  <div class="row justify-content-around" style="height: 800px;">
    <div class="d-flex flex-column col-4 justify-content-around">
      <div class="col-6">
        <button class="btn btn-info" (click)="onHandleOrder('normal')">New Normal Order</button>
      </div>
      <div class="col-6">
        <button class="btn btn-dark" (click)="onHandleOrder('vip')">New VIP Order</button>
      </div>
    </div>
    <div class="row col-4">
      <div class="col-6" style="border: 1px solid black;">
        <b>Pending</b>
        <div class="row">
          <label class="col-12" *ngFor="let i of cookingList">{{i.id}}</label>
          <hr>
          <label class="col-12" *ngFor="let i of pendingList">{{i}}</label>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid black;">
        <b>Success</b>
        <div class="row">
          <label class="col-12" *ngFor="let i of successList">{{i.id}}</label>
        </div>
      </div>
    </div>
    <div class="row col-4">
      <div class=" row col-10">
        <div class="col-4" *ngFor="let x of counter(bot); let i = index">
          <label class=""><b>Bot</b> - {{(cookingList[i]) ? cookingList[i].id: ''}} 
            <!-- - {{(cookingList[i]) ? cookingList[i].i: ''}} -->
          </label>
        </div>
      </div>
      <div class="col-2 d-flex flex-column justify-content-around">
        <div>
          <button class="btn btn-info" (click)="onAddorMinus('add')" style="font-size: 24px;">+</button>
        </div>
        <div>
          <button class="btn btn-danger" (click)="onAddorMinus('minus')" style="font-size: 24px;">-</button>
        </div>
      </div>
    </div>
  </div>
</div>